<%= content_for :title do %>
  <%= t(".title") %>
<% end %>

<h2 class="mb-3"><%= t(".title") %></h2>
<%= link_to t(".add_news"), new_admin_news_path, class: "btn btn-primary" %>
<div class="my-4">
  <%= render @news %>
</div>
