<h1 class="mb-3">Адрес нашего склада в Турции</h1>
<p>
  Adı Soyadı: <strong>Ваше Имя и Фамилия (латиницей)</strong><br>
  Şehir (Город): <strong>Istanbul</strong><br>
  İlçe (Округ): <strong>Fatih</strong><br>
  Adres (Адрес): <strong>Koska Cd. No:6 Prestij Pasajı No:11/12 laleli BA555 ERDOGAN CETIN</strong><br>
  <mark>(ВНИМАНИЕ! <strong>BA555 ERDOGAN CETIN</strong> - номер ячейки и имя обязательны для заполнения!)</mark><br>
  Semt/Mahalle (Район): <strong>Mesih Paşa</strong><br>
  Posta Kodu (Почтовый индекс): <strong>34130</strong><br>
  Telefon: <strong>(535) 779-92-62</strong>
</p>

<p class="mt-8">
  По вопросам доставки и выкупа из турецких интернет-магазинов пишите нам в WhatsApp или Telegram на номер <strong><%= SiteConfig.contact1[:phone] %></strong>.
</p>

<h3 class="mt-8">Внимание! Важная информация!</h3>
<h4>Будьте внимательны при заказе товара из интернет-магазинов на склад в Турции.</h4>

Если товар будет отгружен из Европы, то дойдя до границы с Турцией нужно будет оплатить таможенные пошлины. Стоимость таможенных налогов может быть выше в несколько раз чем стоимость самой вещи так например: за футболку надо будет оплатить 50$.


<h2 class="text-center mt-16 mb-3">Интернет-магазины Турции</h2>
<div class="flex justify-center">
  <a href="https://www.zara.com/tr/" class="store-card">
    <%= image_pack_tag "stores_turkey/zara.png" %>
  </a>

  <a href="https://www.colins.com.tr/" class="store-card flex items-center">
    <%= image_pack_tag "stores_turkey/colins.png" %>
  </a>

  <a href="https://www.defacto.com.tr/" class="store-card flex items-center">
    <%= image_pack_tag "stores_turkey/defacto.png" %>
  </a>

  <a href="https://www.flo.com.tr/" class="store-card flex items-center">
    <%= image_pack_tag "stores_turkey/flo.png" %>
  </a>

  <a href="https://www.morhipo.com/" class="store-card flex items-center">
    <%= image_pack_tag "stores_turkey/morhipo.png" %>
  </a>

  <a href="https://www.markafoni.com/" class="store-card flex items-center">
    <%= image_pack_tag "stores_turkey/markafoni.png" %>
  </a>

  <a href="https://www.lcwaikiki.com/tr-TR/TR" class="store-card flex items-center">
    <%= image_pack_tag "stores_turkey/lc_waikiki.png" %>
  </a>

  <a href="https://www.koton.com/" class="store-card flex items-center">
    <%= image_pack_tag "stores_turkey/koton.png" %>
  </a>
</div>
