<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>
      <%= t(".title") %>
      - <%= SiteConfig.site_name %>
    </title>
    <meta name="description" content="Быстрая доставка товаров и посылок из США в Бишкек, Кыргызстан">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag "print", media: "all" %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
